.container{
    margin: 50px;
    padding: 0;
    display: grid;
    width: 220px;
    grid-template-columns: 200px;
    grid-template-rows: 40px;
    background-color: #fff;
    color: #000;
    position: relative;
    cursor: text;
}

input:focus {
    border-color: #2b2bff;
}

input{
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: 2px solid #000;
    border-radius: 6px;
    font-size: 14px;
}

span{
    align-self: center;
    // height: 40px;
    font-size: 15px;
    position: absolute;
    // height: 25px;
    width: auto;
    padding: 5px;
    color: #181818;
    margin: 0 5px;
    transition: .1s ease-out all;
}

.resize {
    color: #2b2bff;
    background-color: #fff;
    padding: 0 10px;
    width: auto;
    font-size: 12px;
    margin: -40px 0 0 8px;
}